body {
		background-color: rgb(0, 0, 0);
		color: rgb(255, 255, 255);
		margin: 0;
		padding: 0;
		font: 100%/1.5 sans-serif;
		background-image: url(../images/Fireworks.jpg);
		max-width: 1350px;
		}

#content {
		font-size: 1em;
		width: 90%;/*1215px*/
		margin: 0 auto;
		padding: 01.3168724279835%;
		background-color: rgba(0, 0, 0, 0.8);
		}

		
h1 {
		font-family: metamorphous, cursive;
		clear: right;
		font-size: 5.625em;
		font-style: italic;
		text-shadow: 5px 10px 1px rgb(0, 0, 0);
		}
	
h2, h3, h4, h5, h6 {
		font-family: metamorphous;
		font-size: 1.25em;
		}
	
#header {
		background-color: rgba(0, 0, 225, 0.3);
		overflow: hidden;
		width: 100%;/*1350px*/
		}
		
#header img {
		float: left;
		width: 21.4814814814815%; 
		margin-top: 2%;
		margin-right: 2%;
		margin-left: 1.875%;
		box-shadow: 10px 10px 10px #000000;
		-moz-box-shadow: 10px 10px 10px #000000;
		-webkit-box-shadow: 10px 10px 10px #000000;
		}
		
/*This is where the styles for the navigation go.................................................*/
#nav {
		float: right;
		}
		
#nav ul li {
		display: inline;
		}
		
a:link {
		color: blue;
		text-decoration: underline;
		}
a:visited {
		color: purple;
		text-decoration: underline;
		}
a:hover {
		color: blue;
		background-color: white;
		text-decoration: none;
		}
a:active {
		color: black;
		text-decoration: none;
		}
		
.button {
	display: inline;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	-webkit-border-radius: .25em; 
	-moz-border-radius: .25em;
	border-radius: .25em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:visited{
	display: inline;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	-webkit-border-radius: .25em; 
	-moz-border-radius: .25em;
	border-radius: .25em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,1.0);
	box-shadow: 0 1px 2px rgba(0,0,0,1.0);
	}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
	color: rgb(0, 0, 200);
}

.blue {
	color: rgb(0, 0, 193);
	border: solid 1px #ffffff;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:visited {
	color: rgb(0, 0, 0);
	border: solid 1px #ffffff;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	}	
.blue:hover {
	color: rgb(0, 0, 0);
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/*end global navigation............................................................................................*/

/*Start of styling for the Memebers section........................................................................*/
#members {
		padding-right: 1.5625em;
		}
		
aside  {
		width: 100%;
		padding-left: 2.0576131687243%;/*25px*/
		}
		
#members ol li {
		float: left;
		list-style: none;
		width: 14.40329218107%;/*175px*/
		padding-left: 2.4691358024691%;/*30px*/
		padding-right: 2.4691358024691%;
		padding-bottom: 1.5625%;/*25px*/
		}
		
#members ul {
		clear: left;
		list-style: square;
		color: blue;
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
		-moz-column-gap: 50px;
		-webkit-column-gap: 50px;
		column-gap: 50px;
		}
ul p {
		text-align: justify;
		width: 100%;/*348px*/
		color: white;
		}
/*End of Members styles...........................................................................*/

/*Start of Bio styles.............................................................................*/
#bios {
		margin-top: 1.5625em;
		}
		
#bios p {
		width: 78%;
		margin-left: 1.0551862403714%; 
		margin-right: 1.0551862403714%;
		margin-top: 0;
		text-align: justify;
		text-indent: 1.5625em;
		}
		
.bio {
		font-weight: bold;
		font-style: italic;
		font-size: 1.15em;
		float: right;
		width: 20%;
		text-align: right;
		padding-top: 1.5625em;
		margin-right: 4.1152263374486%;/*10px*/
		}
		

/*Styles for photo gallery........................................................................*/
		
#photos {
		overflow: hidden;
		margin-top: 1.5625em;
		}
		
#gallery {
		overflow: hidden;
		margin-left: 4.1152263374486%;/*50px*/
		margin-bottom: 3.4375em; 
		}
		
#photos a {
		float: left;
		width: 12.3456790123457%;/*150px*/
		height: 125px;
		border: 5px solid rgb(255, 255, 255);
		margin-right: 2.0576131687243%;
		}
		
#gallery img {
		width: 100%;
		height: 100%;
		}


		
/*Styles for table and form.......................................................................*/
#spaceHolder {
		margin-bottom: 2%;
		margin-top: 2%;
		overflow: hidden;
		}
		
#table {
		float: left;
		width: 48%;
		}
		
table {
		border-collapse: collapse;
		margin-left: 1em;
	}
	
th {
		padding: .125em;
	}

td {
		border: 1px solid #0000ff;
		padding: .75em;
		font-size: .95em;
	}
		
#spaceHolder h3 {
		font-size: .85em;
		}
		
#form {
		width: 48%;
		float: right;
		}

form {		
		background: rgb(245, 245, 245,);
		width: 100%;
		margin: 0 auto;
		}
		
form label {
		text-decoration: none;
		}

.personal label{
		float: left;
		margin-right: 1.5625em;
		}
		
.personal input{
		width: 90%;
		margin-bottom: 1.5625em;
		clear: left;
		}
		
.reason {
		float: left;
		}
		
input {
		float: left;
		color: rgb(255, 255, 255);
		}
		
input:focus {
		background: rgb(100, 100, 100);
		}
		
.message {
		float: left;
		margin-top: 1.5625em;
		margin-bottom: 1.5625em;
		}
		
.message label {
		float: left;
		margin-right: 1.5625em;
		}
		
.message textarea:focus {
		background: rgb(100, 100, 100);
		}
		
.reply {
		clear: left;
		margin-bottom: 1.5625em;
		}
		
.reply label { 
		clear: left;
		text-align: center;
		}
		
		
		
form .button {
		display: inline;
		background:rgb(0, 0, 255);
		border-top: 1px solid rgb(0, 0, 25);
		border-right: 1px solid rgb(0, 0, 25);
		border-bottom: 1px solid rgb(0, 25, 25);
		border-left: 1px solid rgb(0, 25, 25);
		font-size: 1em;
		}
		

/*Styles for footer section.......................................................................*/		
footer {
		margin: 0;
		clear: both;
		}
footer p {
		text-align: center;
		color: rgb(255, 255, 255);
		background-color: rgb(0, 0, 225);
		}
		
/*Media queries...................................................................................*/
/*Regular view on devices and browsers at standard 960 size.......................................*/
@media screen and (min-width: 768px) and (max-width: 959px) {
		body {
			font-size: .875em;
			}
		
		h1 {
				font-size: 4.21875em;
				}
				
		#nav {
				font-size: .75em;
				}
				
		#members ol li {
				padding-left: 2.5%;
				padding-right: 2.5%;
				padding-bottom: 1.5%;
				}
		
		#members ol li img {
			width: 125%;
			}
			
		#photos a {
			margin-right: 2%;
			}
			
		.bio {
			width: 15%;
			}
		
	}
	
/*Mobile Landscape view on devices and browsers up to standard 960 size...........................*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
		body {
				background-image: none;
			}
			
		#content {
				margin-top: 2%;
				}
		
		h1 {
				font-size: 3.00em;
				}
				
		#nav {
				font-size: .75em;
				float: none;
				}
				
		#members ul {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
				-moz-column-gap: 3.75em;
				-webkit-column-gap: 3.75em;
				column-gap: 3.75em;
				}
				
		#bios p {
				width: 75%;
				margin-top: 0;
				}
				
		.bio {
				width: 17%;
				}
				
		#members ol li img {
				width: 130%;
				}
				
		#gallery {
				margin-left: 15%;
				}
			
		#photos a {
				margin-right: 2%;
				margin-left: 2%;
				width: 30%;
				}
	}
	
/*Mobile Portrait view on devices and browsers up to Mobile Lanscape size.........................*/
@media only screen and (max-width: 479px) {
		body {
				background-image: none;
				}
				
		#content {
				width: 95%;
				background-color: rgb(100, 100, 100);
				}

		h1 {
				font-size: 3em;
				text-shadow: 2.5px 5px .5px rgb(0, 0, 0);
				}
		
		#header img {
				display: none;
				}
		#nav {
				float: none;
				font-size: .75em;
		}
		
		#members ol li {
				display: none;
				}
		
		#members ul {
				clear: left;
				-moz-column-count: 1;
				-webkit-column-count: 1;
				column-count: 1;
				padding: 10%;
		}
		
		#bios p {
				width: 80%;
				margin: 0;
				text-align: justify;
				text-indent: 1.5em;
		}
		
		.bio {
				font-weight: bold;
				font-style: italic;
				font-size: 1em;
				float: right;
				width: 10%;
				text-align: right;
				padding-top: 1.5625em;
				padding-right: .2em;
				} 
				
		#gallery {
				margin-left: 15%;
				}
		
		#photos a {
				margin-right: 2%;
				margin-left: 2%;
				width: 35%;
				}
				
		#table {
				float: none;
				width: 100%;
				}
		
		#form {
				width: 95%;
				margin-left: 1.5625em;
				}
	}

		
		
